.container {
    max-width: $width-container;
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (max-width: $width-container) {
        max-width: 100%;
    }
}

.text-required {
    color: $red-color-required;
}

.text-link {
    color: $color-text-link;
    font-size: 13px;
    line-height: 1.2;
}
