$primary-color: #404eed;
$secondary-color: #f0f0f0;
$white-color: #fff;
$black-color: #000;
$gray-color: #f7f7f7;
$width-container: 1260px;
$primary-font-size: 16px;
$primary-font: 'Noto Sans', sans-serif;
$height-header: 80px;
$gray-color-main: #36393f;
$gray-color-text: #b9bbbe;
$label-color: #b9bbbe;
$red-color-required: #ed4245;
$color-background-input: #202225;
$color-text-link: #00aff4;
$color-btn-primary: #5865f2;
