$primary-color: #404eed;
$secondary-color: #f0f0f0;
$white-color: #fff;
$black-color: #000;
$gray-color: #f7f7f7;
$width-container: 1260px;
$primary-font-size: 16px;
$primary-font: 'Noto Sans', sans-serif;
$height-header: 80px;
